//
// https://itchief.ru/html-and-css/media-queries

@import 'variables';

@media (max-width: 1199px) {
   // это Large и тестим на 992 на экране

   .menu {
      &_item {
         padding-right: 20px;
      }

      &_link {
         font-size: 13px;
      }
   }

   .promo {
      &_header {
         font-size: 50px;
      }
   }

   .reasons {
      &_block {
         align-items: flex-start;
      }

      &_descr {
         width: 300px;
      }
   }

   .mobile {

      &_item {
         width: 290px;

         &_subtitle {
            font-size: 22px;
         }
      }
   }

   .choice {
      padding: 55px 0;
      min-height: 840px;
   }

   .require br {
      display: none;
   }

   .footer {

      &_wrapper > div {
         width: 50%;

         &:nth-child(1) {
            width: 25%;
         }

         &:nth-child(3) {
            width: 25%;
            display: flex;
            justify-content: flex-end;
         }
      }


      &_mobile {
         display: flex;

         a {
            margin: 0 3px;

            & img {
               width: 100%;
            }
         }
      }

   }

}


@media (max-width: 991px) {
   // это Medium и тестим на 768 на экране

   .title {
      font-size: 28px
   }

   .menu {


      &_item {
         padding-right: 8px;
      }

      &_link {
         font-size: 10px;
      }
   }


   //.subheader_logo {
   //   img {
   //      width: 50%;
   //   }
   //}
   //
   //.subheader_logo img {
   //   width: 50%;
   //}
   // что выше дает - .subheader_logo img

   .subheader {
      color: green;

      &_logo {
         img {
            //width: 100%;
            // это дает - .subheader_logo img
         }
      }

      //.subheader_logo img {
      //   width: 50%;
      // это дает - .subheader .subheader_logo img
      //}

      &_official {
         font-size: 11px;
      }

      &_phone {
         font-size: 18px;
      }

      .subheader_btn {
         margin-top: 21px;
         width: 100%;
         height: 40px;
      }

   }

   .promo {

      &_header {
         font-size: 40px;
      }

      .promo_subheader {
         font-size: 30px;
      }
   }

   .reasons {
      &_block {
         flex-direction: column;
         align-items: center;
      }

      &_round {
         margin-right: 0
      }

      &_descr {
         margin-top: 20px;
         width: 300px;
      }
   }

   .choice {
      min-height: 800px;

      .choice_img {
         width: 100%;
      }

   }

   .world {
      min-height: 650px;
   }

   .footer {

      &_wrapper {
         flex-wrap: wrap;
      }

      &_wrapper > div {
         width: 100%;
         display: flex;
         justify-content: center;

         margin-bottom: 20px;

         &:nth-child(1) {
            width: 100%;
         }

         &:nth-child(3) {
            width: 100%;
            justify-content: center;
         }
      }
   }

}


@media (max-width: 767px) {
   // это Small и тестим на 576 на экране

   .menu {
      position: fixed;
      top: 0;
      left: -100%;

      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 50%;
      height: 100vh;
      padding: 20px 15px;
      background-color: rgb(0, 0, 0, 0.8);
      transition: 0.6s all;

      &_active {
         left: 0;
      }

      &_item {
         padding-right: 0;
         border: none;
         margin: 10px 0;
      }

      .menu_link {
         font-size: 20px;
         text-decoration: none;
      }
   }


   .hamburger {
      position: absolute;
      display: block;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 26px;
      height: 12px;

      span {
         display: block;
         height: 2px;
         width: 100%;
         background-color: #ffffff;
         margin-bottom: 2px;
         transition: 0.5s all;
      }

      &_active {
         span {
            margin-bottom: -2px;

            &:nth-child(1) {
               transform: translateY(3px) rotate(-45deg);
            }

            &:nth-child(2) {
               display: none;
            }

            &:nth-child(3) {
               transform: translateY(3px) rotate(45deg);
            }
         }

      }
   }


   .xs-hidden {
      display: none;
   }


   .xs-visible {
      display: block;
   }


   .subheader {

      .subheader_phone {
         display: block;
         margin-top: 8px;
         color: #FFFFFF;
         font-size: 16px;
         font-weight: 400;
         text-transform: uppercase;
         text-align: center;
      }

      .subheader_btn {
         display: block;
         margin: 5px auto 0 auto;
         width: 200px;
         height: 40px;
      }
   }


   .promo {
      &_header {
         line-height: 45px;
      }
   }


   .reasons {
      padding: 40px 0;

      .reasons_descr {
         width: 350px;
      }

      .reasons_subtitle {
         text-align: center;
      }

      .reasons_text {
         margin-top: 10px;
      }

   }

   .mobile {
      padding: 40px 0;
   }

   .choice {
      min-height: 600px;
      padding: 40px 0;
   }

   .require {
      padding: 40px 0;
   }

   .world {
      min-height: 450px;
   }

}


@media (max-width: 575px) {
   // это Extra small и тестим на 575 и до 320 на экране

   nav {
      height: 30px;
   }

   header {
      height: 30px;

   }

   .title {
      font-size: 16px;
      margin-top: 15px;
      line-height: 16px;
   }

   .subtitle {
      font-size: 14px;
      line-height: 21px;
      margin-top: 11px;
   }

   .subheader {
      height: 60px;
      top: 30px;

      .subheader_official {
         display: none;
      }

      .subheader_logo img {
         margin-top: 22px;
      }

      .subheader_phone {
         font-weight: 400;
         font-size: 12px;
         text-transform: uppercase;
         margin-top: 6px;
      }

      .subheader_btn {
         width: 110px;
         height: 22px;
         font-size: 10px;
         margin-top: 5px;

         &:hover {
            background-image: linear-gradient(to top, $main-color 0%, #4ce2ff 100%)
         }
      }

   }


   .promo {
      min-height: 400px;
      padding: 93px 0 35px 0;

      .promo_descr {
         display: none;
      }

      .promo_header {
         font-size: 30px;
         padding: 0 24px;
         line-height: 35px;
      }

      .promo_subheader {
         font-size: 20px;
         margin-top: 33px;
         padding: 0 10px;
         line-height: 30px;
      }

      .promo_btn {
         width: 210px;
         height: 50px;
         margin-top: 72px;
         font-size: 16px;

         &:hover {
            background-image: linear-gradient(to top, $main-color 0%, #4ce2ff 100%)
         }
      }

   }


   .menu {
      width: 85%;

      .menu_item {
         width: 100%;
         text-align: center;
         padding: 5px;
      }

      .menu_link {
         display: block;
      }
   }


   .reasons {
      padding: 22px 0 36px 0;

      .reasons_block {
         margin-top: 26px;
      }

      .reasons_round {
         width: 100px;
         height: 100px;
      }

      .reasons_descr {
         width: 100%;
         margin-top: 27px;

      }

      .reasons_subtitle {
         font-size: 16px;
         text-align: left
      }

      &_text {
         margin-top: 0
      }

   }


   .mobile {
      padding: 20px 0 40px 0;

      .mobile .row {
         margin-top: 30px;
      }

      .mobile_item {
         height: 254px;
         padding: 81px 40px 0 40px;
      }

      .mobile_item_subtitle {
         font-size: 18px;
         line-height: 31px;
      }

      .mobile_item_plus {
         bottom: 28px;

         &:hover {
            &:before, &:after {
               background-color: $main-color;
               // это дает
               // .mobile .mobile_item_plus:hover:before,
               // .mobile .mobile_item_plus:hover:after
            }
         }

      }

   }


   .choice {
      padding: 25px 0 33px 0;
      min-height: 390px;
      background: #000;

      .choice_img {
         margin-top: 35px;
      }

      .choice_descr {
         margin-top: 23px;
         color: #ffffff;
         font-size: 17px;
         font-weight: 300;
         line-height: 24px;
      }

      .black {
         display: none;
         // это дает - .choice .black
      }
   }


   .hidden-320 {
      display: none;
   }


   .require {
      padding: 25px;

      .require_block {
         margin: 30px 0 0 0;
      }

      .require_title {
         font-size: 16px;
      }

      .require_list {
         padding-left: 30px;
         margin-top: 5px;
      }

      .require_list li {
         font-size: 14px;
         margin-bottom: 5px;
         line-height: 20px;
      }

      .require_descr {
         font-size: 14px;
         margin-top: 15px;
      }

   }


   .world {
      min-height: 360px;
      padding: 25px 0 30px 0;

      .world_link {
         width: 200px;
         display: block;
         bottom: 30px;
         line-height: 15px;
      }

   }


   footer {
      //padding: 25px 0 20px 0;
      // так Иван делал
   }


   .footer {

      padding: 25px 0 20px 0;

      .footer_divider {
         width: 253px;
         margin: 0 auto;
      }

      .footer_wrapper {
         padding-top: 22px;
      }

      .footer_wrapper > div {

         margin-bottom: 20px;

         &:nth-child(1) {
            order: 2;
         }

         &:nth-child(2) {
            order: 1;
         }

         &:nth-child(3) {
            order: 3;
         }

      }


      .footer_links {
         width: 290px;

         &_main {
            padding: 0;
            font-size: 14px;
         }

         &_sub {
            flex-wrap: wrap;
            justify-content: center;
         }

         &_sub a {
            margin: 0 7px;
         }

         &_lang {
            margin-top: 10px;
         }
      }

   }

}



